<div>
  <div class="container-fluid text-bg-secondary pt-1">
    <p> Total Flowers: {{totalFlower}}</p>
  </div>

  <div class="flower-container">
  <button (click)="fetchAllFlowers()" class="btn btn-secondary">all photos</button>
  <button (click)="fetchFlowersByColor(0)" class="btn btn-danger"> red photos</button>
  <button (click)="fetchFlowersByColor(5)" class="btn btn-success"> green photos</button>
  <button (click)="fetchFlowersByColor(8)" class="btn btn-primary"> blue photos</button>

  <div class="flower-image-container">
    <div class="flower-images">
      <app-flower-image [photos]="flowerData"></app-flower-image>
    </div>
  </div>

  <div class="moreBtn">
    <button class="btn btn-warning" (click)="fetchMoreFlowers()">More Flower</button>
  </div>
</div>
